
 .beispiel 
 { 
 	width: 200px; 
 	border: 1px solid #6688AA; 
 } 
 	
 
 .beispiel caption 
 {
  background-color: #6688AA; 
  font-family:
   Arial,Verdana,sans-serif; 
   font-weight: normal; font-size:
    22px; color: #FFFFFF; 
    padding: 6px 0 3px 0; }
    
  .beispiel thead th 
  { 
  font: bold 22px Arial,Verdana,sans-serif; 
  padding: 3px; 
  background-color: #CCDDEE; 
  border: 1px solid #FFFFFF; 
  text-align: center;
   color: #4E6C8D; 
   font-weight: 
   normal;
    }
   
   
 .beispiel td
  { 
      font: normal 22px Arial,Verdana,sans-serif; 
      padding: 5px 5px; 
      background-color: #DDEEFF; 
      border: 1px solid #FFFFFF; 
      line-height: 130%; 
      text-align:  center; } 
      

 .beispiel2 
 { 
 	width: 300px; 
 	border: 1px solid #6688AA; 
 } 
 	
 
 .beispiel2 caption 
 {
  background-color: #6688AA; 
  font-family:
   Arial,Verdana,sans-serif; 
   font-weight: normal; font-size:
    22px; color: #FFFFFF; 
    padding: 6px 0 3px 0; }
    
  .beispiel2 thead th 
  { 
  font: bold 22px Arial,Verdana,sans-serif; 
  padding: 3px; 
  background-color: #CCDDEE; 
  border: 1px solid #FFFFFF; 
  text-align: center;
   color: #4E6C8D; 
   font-weight: 
   normal;
    }
   
   
 .beispiel2 td
  { 
      font: normal 22px Arial,Verdana,sans-serif; 
      padding: 5px 5px; 
      background-color: #DDEEFF; 
      border: 1px solid #FFFFFF; 
      line-height: 130%; 
      text-align:  center; } 
      
.beispiel3 
 { 
 	width: 300px; 
 	border: 1px solid #6688AA; 
 } 
 	
 
 .beispiel3 caption 
 {
  background-color: #6688AA; 
  font-family:
   Arial,Verdana,sans-serif; 
   font-weight: normal; font-size:
    22px; color: #FFFFFF; 
    padding: 6px 0 3px 0; }
    
  .beispiel3 thead th 
  { 
  font: bold 22px Arial,Verdana,sans-serif; 
  padding: 3px; 
  background-color: #CCDDEE; 
  border: 1px solid #FFFFFF; 
  text-align: center;
   color: #4E6C8D; 
   font-weight: 
   normal;
    }
   
   
 .beispiel3 td
  { 
      font: normal 16px Arial,Verdana,sans-serif; 
      padding: 5px 5px; 
      background-color: #DDEEFF; 
      border: 1px solid #FFFFFF; 
      line-height: 130%; 
      text-align:  center; }
